<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Accounts</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Type</th>
            <th>Asset</th>
            <th>Account Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${assetsAccount}">
            <td th:text="${entry.key.type}">Asset Type</td>
            <td th:text="${entry.key.symbol}">Asset Symbol</td>
            <td th:if="${entry.value != null}" th:text="${entry.value.balance}">Balance</td>
            <td th:if="${entry.value == null}">-</td>
            <td th:if="${entry.value == null}">
                <a th:href="@{/accounts/create/{userId}/{symbol}(userId=${userId}, symbol=${entry.key.symbol})}"
                   class="btn btn-primary btn-sm">Create
                    Account</a>
            </td>
            <td th:if="${entry.value != null}">
                <a th:href="@{/transactions/{accountId}(accountId=${entry.value.id})}" class="btn btn-primary btn-sm">View
                    Transactions</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <h1 class="mt-4">Exchange</h1>
    <form th:action="@{/exchange/{userId}(userId=${userId})}" method="post">
        <div class="mb-3">
            <label for="fromAccountId" class="form-label">From:</label>
            <select id="fromAccountId" name="fromAccountId" class="form-select" required>
                <option th:each="entry : ${assetsAccount}"
                        th:if="${entry.value != null}"
                        th:value="${entry.key.id}"
                        th:text="${entry.key.symbol}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="toAccountId" class="form-label">To:</label>
            <select id="toAccountId" name="toAccountId" class="form-select" required>
                <option th:each="entry : ${assetsAccount}"
                        th:if="${entry.value != null}"
                        th:value="${entry.key.id}"
                        th:text="${entry.key.symbol}">
                </option>
            </select></div>

        <div class="mb-3">
            <label for="value" class="form-label">Value:</label>
            <input type="number" id="value" name="value" class="form-control" required><br>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Exchange</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>