<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>User List</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/accounts/{userId}(userId=${user.id})}">view accounts</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
